*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.parent{
    height: 50%;
    width: 100%;
    background-color: #222;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
}

.parent::-webkit-scrollbar{
    background-color: grey;
}
.parent::-webkit-scrollbar-thumb{
    background-color: black;
}

#box{
    margin: 10px;
    flex-shrink: 0;
    height: 300px;
    padding: 10px;
    width: 200px;
    background-color: white;
}
h1{
    background: linear-gradient(90deg, red , yellow);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
}