*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#cards{
    height: 300px;
    width: 320px;
    background-color: crimson;
    margin: 10px;
    border-radius: 7px;
    position: relative;
    overflow-x: hidden;
    scrollbar-width:none;
}
#bott{
    width: 100%;
    height: 70px;
    background-color: black;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.51));
    position: absolute;
    bottom: -70px;
    transition: all ease 0.5s;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
 
#cards:hover #bott{
    bottom: 0;
}

#cards img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#bott i{
    color: white;
    height: 15px;
    width: 15px;
    cursor: pointer;
}
#bott h3{
    color: antiquewhite;
    padding: 0px 0px 80px 150px;
}

#meta{
    background-color: #fff;
    height: 40px;
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 0.4s;
}

#meta h3{
    padding-right: 150px;
    
}

#meta i:hover{
color: red;
cursor: pointer;
}

#meta button{
    border-radius: 15px ;
    padding: 5px;
    background: linear-gradient(transparent , rgba(0, 0, 0, 0.495));
    cursor: pointer;
    font-weight: 600;
}

#meta button:hover{
    background-color: rgb(171, 151, 126);
}