*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "left-top top-center top-right"
                          "left-top center btm-right"
                          "left-btm left-btm btm-right"
    ;
    gap: 5px;
    padding: 10px;
    overflow: auto;
}
#left-top{
    grid-area: left-top;
    background-color: darkblue;
}


#right-top{
    grid-area: top-right;
    background-color: darkcyan;
}


#center-top{
    grid-area: top-center;
    background-color: darkgoldenrod;
}


#center{
    grid-area: center;
    background-color: darkgray;
}

#left-bottom{
    grid-area: left-btm;
    background-color: darkgreen;
}


#right-bottom{
    grid-area: btm-right;
    background-color: darkred;
}

main div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}