*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 0.5fr 0.5fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "left-div up-div right-div"
                         "left-div down-div right-div"
    ;
    gap: 10px;
}
header{
    grid-area: header;
    background-color: darkblue;
}
section{
    grid-area: section;
    background-color: darkcyan;
}
#Left-div{
    grid-area: left-div;
    background-color: darkgoldenrod;
}
#Right-div{
    grid-area: right-div;
    background-color: darkgrey;
}
#Up-div{
    grid-area: up-div;
    background-color: darkviolet;
}
#Down-div{
    grid-area: down-div;
    background-color: darkseagreen;
}