*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
@import "button";

@mixin Vijay(){
  display: flex;
  align-items: center;
  justify-content: center;
}

#green{
  @include btn-style(green, 20px, blue);
}
#red{
  @include btn-style(red, 20px white)
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  color: #fff;
  @include Vijay();

  section{
    height: 30%;
    width: 30%;
    background-color: gray;
    color: bisque;
    @include Vijay();
  
      h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 36px;
      }
  
    }

}


