*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(https://images.unsplash.com/photo-1766964855974-1dfcf5107823?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover ;
}
:root{
    --x: 50%;
    --y: 50%;
}

#cont{
    height: 100%;
    width: 100%;
  
    background: radial-gradient(150px at var(--x) var(--y), #ffffff00 0%, #111111f2 90%);
}