*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

.wrapper{
    width: 100%;
    height: 50%;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper h1{
    padding: 20px;

}

#paino-box{
    display: flex;
    background-color: #ede8e8;
    gap: 10px;
}

button{
    padding: 50px 15px;
    border: 1px solid grey;
}

button:active{
    background-color: rgb(189, 93, 15);
}