*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes Lass {
    from {
        --rotate: 0deg;   
    }
    to {
      --rotate: 360deg
    }
}

#box{
    height: 400px;
    color: rgba(245, 245, 245, 0.797);
    width: 300px;
    padding-inline: 10px;
    background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(249, 34, 70), black,black) border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
    animation: Lass 3s infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0px 0px 0px rgb(249, 34, 70);
    
}
#box:hover{
  box-shadow: 0px 0px 50px rgb(249, 34, 70);
      animation-play-state: running;
      border: 5px solid rgba(0, 0, 0, 0);
     color:  rgb(253, 97, 123);
    text-shadow: 0px 0px 5px rgb(249, 70, 100);

}
#box img{
 width: 100%;
}