*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#box{
    background-color: #111;
    /* align-items: center;
    justify-content: center; */
    height: 100%;
    width: 100%;
}


#cursor{
  height: 50px;
  position: fixed;
  transform: translate(-50% -50%);
}



