*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#box{
    display: flex;
    background-color: #111;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#outer{
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40%;
  background-color: grey;
  border-radius: 15px;
  padding: 20px;
}

#inner{
  width: 100%;
  height: 25px;
  background-color: rgba(245, 245, 245, 0.832);
  border-radius: 10px;
}
#progress{
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 10px;
}

button{
  margin: 20px;
  position: absolute;
  right: 5%;
  top: 20%;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: antiquewhite;
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
}

#outer>h3{
  margin-top: 50%;
}

#txt{
  margin-top: 40px;
}